body {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color:white;
}


h1 {
    color: white;
    font-family: cursive;
    font-size: 200%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

}

#header {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: pink;
}

#origin {
    border-style: solid;
    padding: 2px;
    color:black;
}
.dot {
    height: 750px;
    width: 750px;
    background-color: #bbb;
    border-radius: 100%;
    display: inline-block;
  }

ol {
    display: flex;
    width: 100%;
}

 ul {
    list-style-type: none;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    background-color:pink;
    width: 100%;
    padding: 16px;
 }
 ul:hover{
    transition: width 2s;
    transition-timing-function: ease-in;
    width: 300px;
    
 }   
p {
    text-align:left;
    font-size: 200%
    
}
 img  {
    
    margin-left: auto;
    margin-right: auto;
    
   } 

.airplane{
    transform: rotate(360deg)
}
body {
    margin: 0;
    overflow: hidden;
    height: 100vh;
  }
 #me{
     position: absolute;
     left:350px;
     bottom: 10px;
     transform: rotate(90deg);
 }
 #all{
    position: absolute;
    height:100%;
     width: 100%;
 }
 
#con{
    height: 75px;
    width: 75px;
}



