body {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color:white;
    overflow: scroll;
}

h1 {
    color: white;
    font-family: cursive;
    font-size: 200%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

}
h1:hover{
    color: deeppink;
}
h2{
    color:purple;
    font-family: cursive;
    font-size: 200%;
    text-align: center;
}
#header {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: pink;
}
#header img:hover {
    width: 150px;
    height: 150px;
}
#header img{
    transition:width 2s, height 2s;
}
#origin {
    border-style: solid;
    padding: 2px;
    color:black;
}
#hobbies{
    border-style: solid;
    padding: 2px;
    color:black;
}
.dot {
    height: 750px;
    width: 750px;
    background-color: #bbb;
    border-radius: 100%;
    display: inline-block;
  }
.center{
    border-radius:50%;
    border-style: solid;
    padding: 2px;
    color:pink;
}

ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    text-align: center;
    overflow: hidden;
    background-color:pink;
    width: 100%;
    padding: 16px;
 }
 
p {
    text-align:left;
    font-size: 35px;
    
}
 img  {
    margin-left: auto;
    margin-right: auto;
 }

.airplane{
    transform: rotate(360deg)
}
body {
    margin: 0;
    overflow: hidden;
    height: 100vh;
  }
  canvas{
      position: absolute;
      left:0;
      top:0;
  }
 #me{
     position: absolute;
     left:350px;
     bottom: 30px;
     transform: rotate(90deg);
 }

 #all{
    position: absolute;
    height:100%;
     width: 100%;
 }
 
#con{
    height: 75px;
    width: 75px;
}
#Contact{
    position: relative;
    color: white;
}